.unlockbox {
  background-color: #FFFFFF;
  border: 2px dashed rgb(158, 158, 158);
  margin-top: 20px;
  margin-bottom: 40px;
}


.unlockbox-content {
  padding-top: 25px;
  padding-bottom: 25px;
}

.unlockbox-lock {
  color: #DEDEDE;
}

.unlockbox-subheading {
  color: rgb(74, 190, 46);
  font-family: "bebas_neue_regularregular";
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: 1.29;
}

.unlockbox-heading {
  color: rgb(53, 140, 32);
  font-family: "bebas_neuebold";
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: 1.29;
}

.unlock-btn {
  margin-top: 20px;
  max-width: 200px;
  min-width: 0% !important;
}
