.socialLocker-container {
  background-color: #fafafa;
  min-height: 100vh;
}

.header-image {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.sociallocker-app-copy {
  font-size: 20px;
  margin-top: 20px;
}

footer {
  background-color: transparent !important;
}

.footer-container {
  margin-top: 3rem;
}

.footer-copy {
  color: #c7c7c7;
  margin-top: 2rem;
}
