:root {
  --video-color: #48A1D9;
  --video-color-hover: rgba(72, 161, 217, 0.75);

  --paper-color: #FEAC0E;
  --paper-color-hover: rgba(254, 172, 14, 0.75);

  --facebook-color: #3B5998;
  --facebook-color-hover: rgba(59, 89, 152, 0.75);

  --linkedin-color: #0077B5;
  --linkedin-color-hover: rgba(0, 119, 181, 0.75);

  --email-color: #F05023;
  --email-color-hover: rgba(240, 80, 35, 0.75);

  --disabled-color: #DEDEDE;

  --arrow_box-color: #5FBD6C;
}

.button-icon-container {
  margin-bottom: 15px;
}

.button[disabled],
.button[disabled]:hover,
.button[disabled]:active {
  background-color: var(--disabled-color) !important;
  border: var(--disabled-color);
  opacity: 1 !important;
}

.fa[disabled]{
  color: var(--disabled-color) !important;
}

#button-video {
  background-color: var(--video-color);
  border: var(--video-color);
}

#button-video:hover,
#button-video:active {
  background-color: var(--video-color-hover);
}

#icon-video {
  color: var(--video-color);
}

#button-paper {
  background-color: var(--paper-color);
  border: var(--paper-color);
}

#button-paper:hover,
#button-paper:active {
  background-color: var(--paper-color-hover);
}

#icon-paper {
  color: var(--paper-color);
}

#button-facebook {
  background-color: var(--facebook-color);
  border: var(--facebook-color);
}

#button-facebook:hover,
#button-facebook:active {
  background-color: var(--facebook-color-hover);
}

#icon-facebook {
  color: var(--facebook-color);
}

#button-linkedin {
  background-color: var(--linkedin-color);
  border: var(--linkedin-color);
}

#button-linkedin:hover,
#button-linkedin:active {
  background-color: var(--linkedin-color-hover);
}

#icon-linkedin {
  color: var(--linkedin-color);
}

#button-email {
  background-color: var(--email-color);
  border: var(--email-color);
}

#button-email:hover {
  background-color: var(--email-color-hover);
}

#icon-email {
  color: var(--email-color);
}

.tooltip-parent {
  position: relative;
  width: 100%;
}

.tooltip-starter {
  color: white;
  background-color: #FEAC0E;
  border-radius: 5px;
  position: absolute !important;
  top: 0px;
  left: 10%;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 5px 10px;
  -webkit-animation-duration: 5s;
   animation-duration: 5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.arrow_box {
	position: relative;
	background: var(--arrow_box-color);
	border: 4px solid #;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(114, 89, 213, 0);
	border-bottom-color: var(--arrow_box-color);
	border-width: 6px;
	margin-left: -6px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #;
	border-width: 12px;
	margin-left: -12px;
}
